.date{ text-align: center }

.day{font-size: 2em;}
.month{font-size: 1.3em; font-weight: bold;}
.year{font-size: 1.3em;}
.title{font-size: 1.3em; font-weight: bold;padding-left: 10px;}

.align-text-middle {
    display: flex;
    align-items: center;
}