<ion-list>
  <ion-item>
      <ion-grid>
    <ion-row >
      <ion-col size="2" class="date">
          <div class="day">
              <ion-text color="dark">14</ion-text>
          </div>
          <div class="month">
              <ion-text color="dark">FEB</ion-text>
          </div>
          <div class="year">
              <ion-text color="dark">2020</ion-text>
          </div>
      </ion-col>
    
      <ion-col size="10">
          <div class="title"><ion-text color="dark">Compleanno Giovanni</ion-text></div>
            <ion-grid> 
                <ion-row> 
                <ion-col size="4" >
                    <ion-text color="primary"><span ><ion-icon  name="people"></ion-icon></span><span>&nbsp;7</span></ion-text>
                </ion-col>
                <ion-col size="4">
                    <ion-text color="primary"> <span ><ion-icon  name="clipboard"></ion-icon></span><span>&nbsp;10</span></ion-text>
                </ion-col>
                <ion-col size="4" >
                    <ion-text color="primary"> <span ><ion-icon  name="checkmark-circle-outline"></ion-icon></span><span>&nbsp;3</span> </ion-text>
                </ion-col>           
              </ion-row>

              <ion-row> 
                  <ion-col>
                      <ion-text color="warning">  <span><ion-icon  name="navigate"></ion-icon></span><span>&nbsp;item.location</span></ion-text>
                  </ion-col>
              </ion-row>
            </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-item>
</ion-list>
